.list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 20px;
}

.action-bar-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action-bar-left > input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15px;
  width: 20px;
}
.action-bar-right {
  display: flex;
  flex-direction: row;
}
.action-bar-right > img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.list {
  border: 1px solid black;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: auto;
  padding: 20px;
  overflow-y: auto;
}
