.card {
  background-color: var(--lighter-grey);
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  width: 200px;
}
.card.card-shadow {
  border: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.8);
}
.card-avatar {
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}
.card-avatar > img {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 16 /9;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: none;
}

.card-body {
  margin-top: 1rem;
  text-align: center;
}
.card-footer {
  margin-top: 1rem;
  text-align: center;
}
.btn {
  background: hsl(200, 50%, 50%);
  font-size: var(--font-size);
  color: var(--darker-grey);
  border: none;
  padding: 0.6em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  width: 80%;
}
.btn:hover,
btn:focus {
  background: hsl(200, 50%, 60%);
}
.btn:hover,
btn:focus {
  background: hsl(200, 50%, 60%);
}
