.input-container {
  border: none;
  border-radius: 5px;
  margin: 30px auto;
  text-align: center;
  width: 70%;
  max-width: 600px;
  transform: translate(-5%, -5%);
}
.input {
  background-color: var(--light-grey);
  width: 70%;
  padding: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: border 0.2s ease-out;
}

.label {
  position: absolute;
  color: var(--dark-grey);
  top: 50%;
  transform: translateY(-50%);
  padding-left: 8px;
  transition: all 0.3s ease-out;
}

.input-container:focus-within label,
.input-container:active label {
  top: -15px;
  padding-left: 2px;
  color: var(--darker-grey);
}

.input-container:focus-within input,
.input-container:active input {
  border: 1px solid var(--darker-grey);
}
